<div class="head-content">
    <div class="container">
        <div class="row cards">   
            <div class="card-deck-wrapper">
                <div class="card-deck" id="about">
                    <div class="col-sm-12 col-md-4">
                        <div class="card">
                            <div class="card-block">
                                <h2 class="card-title">About Kelcher</h2>
                                <div class="card-img">
                                    <img class="img-fluid" src="images/kelcher_card3.jpg" alt="About Kelcher">
                                </div> 
                                <p class="card-text">Kelcher Entertainment is an enterprise that connects people in the community together who share a passion or goal. Whether that goal is life, love, or the pursuit of a dream we are here to help you interact.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="card">
                            <div class="card-block">
                                <h2 class="card-title">Kelcher Events</h2>
                                <div class="card-img">
                                    <img class="img-fluid" src="images/Kelcher_card2.jpg" alt="Kelcher Events">
                                </div>
                                <p class="card-text">Monthly events thrown by Kelcher Entertainment, ranging from BBQs to Networking Ventures. RSVP for discounted rates on tickets. <a href="./contact">Contact Kelcher Entertainment</a> to collaberate on events.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="card">
                            <div class="card-block">
                                <h2 class="card-title">Kelcher Music</h2>
                                <div class="card-img">
                                    <img class="img-fluid" src="images/kelcher_card5.jpg" alt="Kelcher Music">
                                </div>
                                <p class="card-text">Music is at our root. Kelcher Music discovers and promotes talented local artists. Come vibe with us.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>