<div class="main-content">
    <div class="container">

        <div class="row" id="events">
            <div class="col-sm-12 col-md-4">
                <div class="card featured-event">
                    <div class="card-block">
                        <div class="card-img-top">
                            <img class="img-fluid" src="images/Kelcher_card4.jpg" alt="Kelcher Featured Event">
                        </div> 
                        <div class="countdown">
                            <div class="smdh">
                                <span class="days"></span>
                                <div class="smalltext">Days</div>
                            </div>
                            <div class="smdh">
                                <span class="hours"></span>
                                <div class="smalltext">Hours</div>
                            </div>
                            <div class="smdh">
                                <span class="minutes"></span>
                                <div class="smalltext">Minutes</div>
                            </div>
                            <div class="smdh">
                                <span class="seconds"></span>
                                <div class="smalltext">Seconds</div>
                            </div>
                        </div>
                        <h4 class="card-title">Kelcher Mix</h4>
                        <p class="card-text">On July 31st, 2:00pm at</p>
                        <p class="card-text">500 Washington St. Newark NJ</p>
                    </div>
                </div>
                <div class="social-register">
                    <p class="share"></p>
                    <a href="#"><button class="btn-sm register">Register <i class="fa fa-ticket" aria-hidden="true"></i></button></a>
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="row events-row">
                    <div class="col-sm-12">
                        <h4>Upcoming Events</h4>
                    </div>
                    <div class="col-sm-12">
                        <div class="events">
                            <div class="calendar">
                                <p>31</p>
                                <p>July</p>
                            </div>
                            <ul>
                                <li>Kelcher Mix</li>
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> Tuesday July 31st at 2:00pm</li>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i> 500 Washington St. Newark NJ</li>
                            </ul>
                            <div class="register">
                                <a href="#"><button class="btn">Register</button></a>
                                <p class="share"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>