            <div class="row music-row" id="music">
                <div class="col-sm-12 col-md-8">
                    <h4>Kelcher Music</h4>
                    <div class="soundcloud">
                        <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/291711684&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h4>Kelcher Record Label</h4>
                    <p>Kelcher Record Label started as a couple music fans passionate about local music and artists without a platform. Today the label is inspired by those same artists and their development. Featuring artists like: <span>C-Sheppard</span>, <span>Sinsei Vibes</span>, and <span>Mu Bien</span>, Kelcher Music continues to grow and promote local artists onto a bigger stage. </p>
                </div>
            </div>

        </div>
    </div>

    <div class="gallery">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <ul>
                        <li>
                            <a href="images/kelcher_gram.jpg" data-toggle="lightbox">
                                <img src="images/kelcher_gram.jpg" class="img-fluid">
                            </a>
                        </li>
                        <li>
                            <a href="images/kelcher_gram2.jpg" data-toggle="lightbox">
                                <img src="images/kelcher_gram2.jpg" class="img-fluid">
                            </a>
                        </li>
                        <li>
                            <a href="images/kelcher_gram3.jpg" data-toggle="lightbox">
                                <img src="images/kelcher_gram3.jpg" class="img-fluid">
                            </a>
                        </li>
                        <li>
                            <a href="images/kelcher_gram4.jpg" data-toggle="lightbox">
                                <img src="images/kelcher_gram4.jpg" class="img-fluid">
                            </a>
                        </li>
                        <li>
                            <a href="images/kelcher_gram5.jpg" data-toggle="lightbox">
                                <img src="images/kelcher_gram5.jpg" class="img-fluid">
                            </a>
                        </li>
                    </ul>
                    <div class="gallery-text">
                        <p>Gallery Photos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>