<div class="container-fluid footer">
    <div class="row">

        <div class="col-md-4 col-sm-6 footer-row">
            <h6>OUR MISSION</h6> 
            <p class="mission-text">Kelcher Entertainment is in the business of making things happen. We provide the most resourceful events, the most exciting parties, the freshest music, and the highest fashion.</p>
        </div>
        
        <div class="col-md-4 col-sm-6 footer-row">
            <h6>Contact</h6>
            <p class="fa fa-phone" aria-hidden="true"> <span>(973) 979-4956</span></p>
            <p class="fa fa-envelope" aria-hidden="true"> <span>kelcherpromotions@gmail.com</span></p>
            <p class="fa fa-map-marker" aria-hidden="true"> <span>Newark, NJ</span></p>
        </div>

        <div class="col-md-4 col-sm-12 footer-row">
            <h6>Connect With Us</h6>
            <div class="social-media">
                <a href="https://www.facebook.com/Kelcher-Promotional-Group-856305347853441/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/_kelcher/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>

    </div>

    <div class="footer-border"></div>

    <div class="row footer-copyright">    
        <div class="col-sm-6 copyright">&copy; 2017 Kelcher Entertainment Group</div>
        <div class="col-sm-6 footer-nav"><a href="./">Home</a> / <a href="./contact">Contact</a></div>
    </div>

</div>

    
    