    <header class="bgimage"></header>

        <nav class="navbar navbar-toggleable-md fixed-top" id="navbar">
            <div class="nav navbar-nav nav-container">
                <div class="logo">
                    <a href="./"><img src="images/kelcher_logo.png" alt="logo" class="img-fluid"></a>
                    <p><span>Kelcher</span> Entertainment</p>
                    <div>
                        <button type="button" class="btn navbar-toggler" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars" aria-hidden="true"></i></button>
                   </div>
                </div>
                
                <div class="ml-auto collapse navbar-collapse fp" id="navbarToggle">
                    <ul class="nav navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="./"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="#events">Events</a></li>
                        <li class="nav-item">
                                <a class="nav-link" href="#music">Music</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            
        </nav>
        
    </header>