@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes pointRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(50px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes pointDown {
    0% {
        transform: translateY(0) rotate(90deg);
    }

    50% {
        transform: translateY(50px) rotate(90deg);
    }

    100% {
        transform: translateY(0px) rotate(90deg);
    }
}
