<!doctype html>
<html lang="en">
<head>
    <% include partials/template/head.ejs %>

    <link rel="stylesheet" href="css/contact.min.css">
</head>
<body>
    <% include partials/template/contact_header.ejs %>
    <% include partials/content/contact/form.ejs %>
    <% include partials/template/footer.ejs %>

    <% include partials/template/scripts.ejs %>

    <script data-cfasync="false" type="text/javascript" src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js"></script>

    <script text/javascript src="js/contact.js"></script>
</body>
</html>