<div class="container">
    <div class="row contact-row">
        <div class="col-sm-12 col-md-4 contact-info">
            <h2>Contact Kelcher<i class="fa fa-id-card-o" aria-hidden="true"></i></h2>
            <p>Questions about an event or our music:</p>
            <p>Shoot us a quick message<i class="fa fa-arrow-right" aria-hidden="true"></i></p>
            <hr>
            <p>Or Send Us An Email Here:</p>
            <p>kelcherpromotions@gmail.com</p>
        </div>
        <div class="col-sm-12 col-md-8 contact-form">
            <form id="gform" method="POST" action="https://script.google.com/macros/s/AKfycbytMgIIATtoDKRvhUW_NhByswkX-nk9NoyQnGx_T1CDXF61g45t/exec">
                                    
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label htmlFor="name" class="sr-only">First Name</label>
                            <input  class="form-control"
                                    id="name" 
                                    type="text"
                                    name="fname"
                                    placeholder="First name*" 
                                    required 
                                    minlength="2" />
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label htmlFor="name" class="sr-only">Last Name</label>
                            <input  class="form-control"
                                    id="name" 
                                    type="text"
                                    name="lname"
                                    placeholder="Last name" 
                                    minlength="2" />
                        </div>
                    </div>
                        
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label htmlFor="email" class="sr-only">Email</label>
                            <input  class="form-control"
                                    id="email" 
                                    type="text"
                                    name="email"
                                    placeholder="Email*" 
                                    required 
                                    />         
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="form-group row">
                            <label htmlFor="email" class="sr-only">Email</label>
                            <input  class="form-control"
                                    type="text"
                                    name="phone"
                                    placeholder="Phone" />         
                        </div>
                    </div>     

                    <div class="col-sm-12">
                        <div class="form-group row">
                            <label htmlFor="message" class="sr-only">Message</label>
                            <textarea class="form-control" id="message" name="message" placeholder="Message*" required></textarea>    
                        </div>
                    </div>    

                    <div class="col-sm-12">
                        <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                    </div>
                        
                </div>

            </form>
            <div class="thank_you" id="thankyou_message">
                <h2><i class="fa fa-check-circle-o" aria-hidden="true"></i>Thank You! Someone Will Get Back To You Shortly</h2>
            </div>
        </div>
    </div>
</div>